block variables
include mixins/mixins

doctype html
html(lang="ru")
  include ./common/head
  body
    .wrapper
      .maincontent
        include ./common/header
        main.main
          block content

      include ./common/footer


    include ./common/scripts