block variables
include mixins/mixins

doctype html
html(lang="ru")
  include ./common/head
  body
    .wrapper
      .container
        .maincontent
          include ./common/header
          main.main
            block content 

        include ./common/footer
        aside.sidebar.sidebar_left
        aside.sidebar.sidebar_right


    include ./common/scripts