/************************* Colors ***************************/
$white = #fff
$black = #4e4e4e
$gray = #ccc
$blue = #1f2147
$green = #39d84c
$red = #d40619


/************************* Dimensions ***************************/
$containerMaxWidth = 1024px
$containerPadding = 15px
$headerHeight = 40px
$footerMinHeight = 30px
$sidebarWidth = 300px 