.content
    position relative
    display flex


.content__left
    flex 1
    background $olive

    p
        roboto()
        font-size 16px
        color $blue
        text-align left


.content__right
    position relative
    width 200px