.menu
    display flex
    width 100%
    justify-content space-around
    align-items center


.menu__link
    display block
    roboto()
    font-size 16px
    color $white
    transition .3s

    &:hover
        color $green