.sidebar
    position absolute
    top: $headerHeight
    bottom 0
    width 300px
    background rgba($green, .87)
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1)


.sidebar_left
    left 0%
    transform translateX(-100%)

    &.active
        transform translateX(0%)


.sidebar_right
    right 0%
    transform translateX(100%)

    &.active
        transform translateX(0%)