.sidebar
    position absolute
    top: 40px
    bottom 0
    width 300px
    background rgba($green, .87)
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1)


.sidebar_left
    left -100%

    &.active
        left 0%

.sidebar_right
    right -100%

    &.active
        right 0%